@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
}

:root {
  --background: #F8FFF8;
  --foreground: #454839;
  --primary: #DAFF7D;
  --muted: #94B0B3;
  --accent: #00D6E4;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #94B0B3;
  --ring: #DAFF7D;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
